<!DOCTYPE HTML>
<html>
<head>
    <title>Home Shop page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="align: center">Welcome to our shop!</div>
</body>
</html>